<div class="pb-cmnt-container">
  <%= form_for :comment,
    url: comments_path(:review_id => @review.id),
    :html => {:class => "form-inline"} do |f| %>
    <%= f.text_area :content, class: "box-clear" %><br/>
    <div style="display: inline-block">
      <%= f.label "レート:" %>
      <%= f.select(:star, [['1', 1], ['2', 2], ['3', 3], ['4', 4], ['5', 5]])  %>
    </div>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.hidden_field :review_id, value: @review.id %>
    <%= f.submit "確認",
      class: 'btn btn-primary comment-submit pull-right', data: {send: "review"} %>
  <% end %>
</div>
