var body_detail_comparison = $('#body-detail-comparison');
body_detail_comparison.html(
    `
    <table class="table table-striped table-bordered">
    <thead class="thead-dark">
        <tr>
            <th scope="col">スペック</th>
            <% @products.each do |product| %>
                <th ccope="col"><%= product.name %></th>
            <% end %>
        </tr>
    </thead>
    <tbody>

        <tr>
            <th scope="row">メーカー</th>
            <% @products.each do |product| %>
                <td><%= product.maker.name %></td>
            <% end %>
        </tr>

        <tr>
            <th scope="row">カテゴリー</th>
            <% @products.each do |product| %>
                <td><%= product.category %></td>
            <% end %>
        </tr>

        <tr>
            <th scope="row">価格 (円)</th>
            <% @products.each do |product| %>
                <td><%= product.price %></td>
            <% end %>
        </tr>

        <tr>
            <th scope="row">画面技術 (pixel*pixel)</th>
            <% @products.each do |product| %>
                <td><%= product.screen_type %></td>
            <% end %>
        </tr>

        <tr>
            <th scope="row">画面解像度</th>
            <% @products.each do |product| %>
                <td><%= product.resolution %></td>
            <% end %>
        </tr>

        <tr>
            <th scope="row">画面サイズ</th>
            <% @products.each do |product| %>
                <td><%= product.screen_size %></td>
            <% end %>
        </tr>

        <tr>
            <th scope="row">カメラ解像度</th>
            <% @products.each do |product| %>
                <td><%= product.rear_camera %></td>
            <% end %>
        </tr>

        <tr>
            <th scope="row">カメラ解像度</th>
            <% @products.each do |product| %>
                <td><%= product.front_camera %></td>
            <% end %>
        </tr>

        <tr>
            <th scope="row">フラッシュライト</th>
            <% @products.each do |product| %>
                <td><%= product.rear_flash %></td>
            <% end %>
        </tr>

        <tr>
            <th scope="row">オペレーティングシステム</th>
            <% @products.each do |product| %>
                <td><%= product.os %></td>
            <% end %>
        </tr>

        <tr>
            <th scope="row">チップセット（CPUメーカー</th>
            <% @products.each do |product| %>
                <td><%= product.chipset %></td>
            <% end %>
        </tr>

        <tr>
            <th scope="row">CPU速度</th>
            <% @products.each do |product| %>
                <td><%= product.cpu_speed %></td>
            <% end %>
        </tr>

        <tr>
            <th scope="row">グラフィックチップ（GPU)</th>
            <% @products.each do |product| %>
                <td><%= product.gpu %></td>
            <% end %>
        </tr>

        <tr>
            <th scope="row">内蔵メモリ容量 (RAM)</th>
            <% @products.each do |product| %>
                <td><%= product.ram %></td>
            <% end %>
        </tr>

        <tr>
            <th scope="row">内蔵メモリ容量 (ROM)</th>
            <% @products.each do |product| %>
                <td><%= product.rom %></td>
            <% end %>
        </tr>

        <tr>
            <th scope="row">外部メモリカード</th>
            <% @products.each do |product| %>
                <td><%= product.expandable_storage %></td>
            <% end %>
        </tr>

        <tr>
            <th scope="row">通信規格</th>
            <% @products.each do |product| %>
                <td><%= product.conectivity_type %></td>
            <% end %>
        </tr>

        <tr>
            <th scope="row">Wi-Fi規格</th>
            <% @products.each do |product| %>
                <td><%= product.wifi %></td>
            <% end %>
        </tr>

        <tr>
            <th scope="row">ブルートゥース</th>
            <% @products.each do |product| %>
                <td><%= product.bluetooth %></td>
            <% end %>
        </tr>

        <tr>
            <th scope="row">接続ポート</th>
            <% @products.each do |product| %>
                <td><%= product.port %></td>
            <% end %>
        </tr>

        <tr>
            <th scope="row">ジャックヘッドセット</th>
            <% @products.each do |product| %>
                <td><%= product.jack %></td>
            <% end %>
        </tr>

        <tr>
            <th scope="row">他の通信</th>
            <% @products.each do |product| %>
                <td><%= product.other_connectivity %></td>
            <% end %>
        </tr>

        <tr>
            <th scope="row">材料</th>
            <% @products.each do |product| %>
                <td><%= product.material %></td>
            <% end %>
        </tr>

        <tr>
            <th scope="row">サイズ</th>
            <% @products.each do |product| %>
                <td><%= product.dimension %></td>
            <% end %>
        </tr>

        <tr>
            <th scope="row">重量</th>
            <% @products.each do |product| %>
                <td><%= product.weight %></td>
            <% end %>
        </tr>

        <tr>
            <th scope="row">バッテリー容量</th>
            <% @products.each do |product| %>
                <td><%= product.pin_capability %></td>
            <% end %>
        </tr>

        <tr>
            <th scope="row">バッテリー技術</th>
            <% @products.each do |product| %>
                <td><%= product.pin_type %></td>
            <% end %>
        </tr>

        <tr>
            <th scope="row">高度なセキュリティ</th>
            <% @products.each do |product| %>
                <td><%= product.security %></td>
            <% end %>
        </tr>

        <tr>
            <th scope="row">特別の機能</th>
            <% @products.each do |product| %>
                <td><%= product.other_feature %></td>
            <% end %>
        </tr>

        <tr>
            <th scope="row">発売時間</th>
            <% @products.each do |product| %>
                <td><%= product.release_date %></td>
            <% end %>
        </tr>
    </tbody>
    </table>
    `
);