<div class="card" >
  <div class="card-image-top" >
      <% if @review.banner.present? %>
     <%= cl_image_tag(@review.banner) %>
   <% else %>
     <%= image_tag("no-banner.png") %><br><br>
   <% end %>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="avatar48">
          <% if review.user.avatar.present? %>
           <%= cl_image_tag(review.user.avatar) %>
         <% else %>
           <%= image_tag("no_avatar.jpg") %>
         <% end %>
        </figure>
      </div>
      <div class="media-content">
        <p class="title is-4"><%= link_to review.title, review %></p>
        <p class="subtitle is-6">@<%= review.user.name %></p>
        <% if review.products %>
        <ul>
          <% review.products.each do |x| %>
            <li class="title is-5" style="text-align: right;">品名：<%= x.name %></li>
          <% end %>
        </ul>
        <% end %>
        <hr>
        <div class="blog_post_meta">
          <i class="fa fa-comment-o"></i>
          <%= review.comments.count %> コメント
          <% if logged_in? %>
            <% if can? :edit, review %>
              <%= link_to edit_review_path(review), :class => "btn btn-primary a-btn-slide-text" do %>
                  <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                  <span>編集</span>
              <% end %>
            <% end %>
          <% end %>
          <% if logged_in? %>
            <% if can? :destroy, review %>
              <%= link_to review, method: :delete, data: {confirm: "削除しますか？"}, :class => "btn btn-primary a-btn-slide-text" do %>
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                <span>削除</span>
              <% end %>
            <% end %>
          <% end %>
        </div>
        <time class="is-6" datetime="2016-1-1"><%= review.created_at.strftime "%l:%M %p - %_m %b %Y" %></time>
      </div>
    </div>

    <div class="content">
      <%= review.content %>
    </div>
  </div>
</div>