<div class="container">
  <h1><%= @product.name %></h1>
  
  <%= cl_image_tag(@product.image) %>
  
  <h3>カテゴリー: <%= @product.category %></h4>
  <h3>メーカー: <%= @product.maker.name %></h4>
  <h3>形容:</h3><h4><%= @product.description %></h4>
  
  <hr>
  
  <h1>この商品のレビュー</h1>
  
  <div class="review_card">
      <%= render @reviews %>
  </div>
</div>
