<div class="container">
  <div class="row">

    <div class="col-lg-4 col-md-6 mb-4">
      <div class="card">
        <a href="#"><img class="card-img-top" src="https://www.t-mobile.com/content/dam/t-mobile/en-p/cell-phones/samsung/samsung-galaxy-s9/lilac-purple/Samsung-Galaxy-S9-Lilac-Purple-1-3x.jpg" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#">Đánh giá camera S9</a>
          </h4>
          <p class="card-title">Reviewer: <%= link_to "user", "#" %></p>
          <%= link_to "Samsung Galaxy S9", "products/1", :class => "card-title" %>
          <p class="card-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
        </div>
        <hr>
        <div class="card-footer">
          <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
          <div class="btn-group btn-group-lg" style="display: inline-block;">
              <button type="button" class="btn-xs btn-warning">Edit</button>
              <button type="button" class="btn-xs btn-danger">Delete</button>
          </div>
        </div>
      </div>
    </div>
    
    <div class="col-lg-4 col-md-6 mb-4">
      <div class="card">
        <a href="#"><img class="card-img-top" src="http://streaming1.danviet.vn/upload/3-2018/images/2018-09-11/Cap-iPhone-Xs-va-iPhone-Xs-se-len-ke-ngay-21-09-apples-iphone-xs-and-iphone-1536633468-width660height440.jpg" style="width: 100%; border-radius: 5px 5px 0 0;" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#">Đánh giá camera S9</a>
          </h4>
          <p class="card-title">Reviewer: <%= link_to "user", "#" %></p>
          <%= link_to "Samsung Galaxy S9", "#", class: "card-title" %>
          <p class="card-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
        </div>
        <hr>
        <div class="card-footer">
          <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
          <div class="btn-group btn-group-lg" style="display: inline-block;">
              <button type="button" class="btn-xs btn-warning">Edit</button>
              <button type="button" class="btn-xs btn-danger">Delete</button>
          </div>
        </div>
      </div>
    </div>
    
    <div class="col-lg-4 col-md-6 mb-4">
      <div class="card">
        <a href="#"><img class="card-img-top" src="http://streaming1.danviet.vn/upload/3-2018/images/2018-09-11/Cap-iPhone-Xs-va-iPhone-Xs-se-len-ke-ngay-21-09-apples-iphone-xs-and-iphone-1536633468-width660height440.jpg" style="width: 100%; border-radius: 5px 5px 0 0;" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#">Đánh giá camera S9</a>
          </h4>
          <p class="card-title">Reviewer: <%= link_to "user", "#" %></p>
          <%= link_to "Samsung Galaxy S9", "#", class: "card-title" %>
          <p class="card-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
        </div>
        <hr>
        <div class="card-footer">
          <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
          <div class="btn-group btn-group-lg" style="display: inline-block;">
              <button type="button" class="btn-xs btn-warning">Edit</button>
              <button type="button" class="btn-xs btn-danger">Delete</button>
          </div>
        </div>
      </div>
    </div>
    
        <div class="col-lg-4 col-md-6 mb-4">
      <div class="card">
        <a href="#"><img class="card-img-top" src="http://streaming1.danviet.vn/upload/3-2018/images/2018-09-11/Cap-iPhone-Xs-va-iPhone-Xs-se-len-ke-ngay-21-09-apples-iphone-xs-and-iphone-1536633468-width660height440.jpg" style="width: 100%; border-radius: 5px 5px 0 0;" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#">Đánh giá camera S9</a>
          </h4>
          <p class="card-title">Reviewer: <%= link_to "user", "#" %></p>
          <%= link_to "Samsung Galaxy S9", "#", class: "card-title" %>
          <p class="card-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
        </div>
        <hr>
        <div class="card-footer">
          <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
          <div class="btn-group btn-group-lg" style="display: inline-block;">
              <button type="button" class="btn-xs btn-warning">Edit</button>
              <button type="button" class="btn-xs btn-danger">Delete</button>
          </div>
        </div>
      </div>
    </div>
    
        <div class="col-lg-4 col-md-6 mb-4">
      <div class="card">
        <a href="#"><img class="card-img-top" src="http://streaming1.danviet.vn/upload/3-2018/images/2018-09-11/Cap-iPhone-Xs-va-iPhone-Xs-se-len-ke-ngay-21-09-apples-iphone-xs-and-iphone-1536633468-width660height440.jpg" style="width: 100%; border-radius: 5px 5px 0 0;" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#">Đánh giá camera S9</a>
          </h4>
          <p class="card-title">Reviewer: <%= link_to "user", "#" %></p>
          <%= link_to "Samsung Galaxy S9", "#", class: "card-title" %>
          <p class="card-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
        </div>
        <hr>
        <div class="card-footer">
          <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
          <div class="btn-group btn-group-lg" style="display: inline-block;">
              <button type="button" class="btn-xs btn-warning">Edit</button>
              <button type="button" class="btn-xs btn-danger">Delete</button>
          </div>
        </div>
      </div>
    </div>
    
        <div class="col-lg-4 col-md-6 mb-4">
      <div class="card">
        <a href="#"><img class="card-img-top" src="http://streaming1.danviet.vn/upload/3-2018/images/2018-09-11/Cap-iPhone-Xs-va-iPhone-Xs-se-len-ke-ngay-21-09-apples-iphone-xs-and-iphone-1536633468-width660height440.jpg" style="width: 100%; border-radius: 5px 5px 0 0;" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#">Đánh giá camera S9</a>
          </h4>
          <p class="card-title">Reviewer: <%= link_to "user", "#" %></p>
          <%= link_to "Samsung Galaxy S9", "#", class: "card-title" %>
          <p class="card-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
        </div>
        <hr>
        <div class="card-footer">
          <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
          <div class="btn-group btn-group-lg" style="display: inline-block;">
              <button type="button" class="btn-xs btn-warning">Edit</button>
              <button type="button" class="btn-xs btn-danger">Delete</button>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</div>