<header>
      <nav class="navbar ">
        <div style="width: 100%; padding: 0 35px;height: 127px;">
          <div class="navbar-custom">
            <%= link_to "スマホホーム", root_path, id: "logo" %>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->

            <ul class="nav navbar-nav navbar-right navbar-menu">
            <% if params[:query] ==nil%>
              <li> <h2><%= link_to "商品", products_path %></h2></li>
              <li style="margin-right: 200px;"><h2><%= link_to "レビュー", reviews_path %></h2></li>
            <%else%>
              <li> <h2><%= link_to "商品", products_path(query: params[:query]) %></h2></li>
              <li style="margin-right: 200px;"><h2><%= link_to "レビュー", reviews_path(query: params[:query]) %></h2></li>
            <%end%>
              
              <% if logged_in? %>
                <% if current_user.is_admin? %>
                  <% noti = Product.where(state: false).count %>
                  <% if noti != 0 %>
                  <li>
                    <a href="https://smartphone-anhph.c9users.io/admin/product" ><span class="glyphicon glyphicon-bell"></span><sup><%= noti %></sup></a>
                  </li>
                  <% end %>
                <% end %>
              <% end %>
              
              <% if logged_in? %>
                <li class="dropdown">
                  <a
                    href="#"
                    class="dropdown-toggle"
                    data-toggle="dropdown"
                    role="button"
                    aria-haspopup="true" 
                    aria-expanded="false"
                  >
                    <h2><%= current_user.name %> </h2><span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                    <% if current_user.is_admin? %>
                      <li style="font-size: 21px;"><%= link_to "管理ダッシュボード", rails_admin_path %></li>
                      <li class="divider"></li>
                    <% end %>
                    <li style="font-size: 21px;"><%= link_to "プロフィール", current_user %></li>
                    <li style="font-size: 21px;"><%= link_to "プロフィール編集", edit_user_path(current_user) %></li>
                    <li class="divider"></li>
                    <li style="font-size: 21px;"><%= link_to "レビュー投稿", new_review_path %></li>
                    <li style="font-size: 21px;"><%= link_to "商品投稿", new_product_path %></li>
                    <li class="divider"></li>
                    <li style="font-size: 21px;">
                        <%= link_to "サインアウト", logout_path, method: :delete %>
                    </li>
                  </ul>
                </li>
              <% else %>
                <li style="display: flex;"><span class="glyphicon glyphicon-log-in" style="height: 50%;top: 33%;"></span>
                 <h2> <%= link_to "サインイン", login_path, {:style => "padding-left: 5px"} %> </h2></li>
                <li style="display: flex;"><span class="glyphicon glyphicon-pencil" style="height: 50%;top: 33%;"></span>
                  <h2><%= link_to "サインアップ", signup_path, {:style => "padding-left: 5px"} %></h2></li>
              <% end %>
            </ul>
            <div class="wrap">
              <div class="search">
                <%= form_tag results_path, method: :get do %>
                    <%= text_field_tag :query, params[:query], placeholder: '検索', :class => "searchTerm" %>
                <% end %>
              </div>
            </div>
          
          <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
      </nav>
</header>
<style type="text/css">
  h2{
    font-size: 1.9em  !important;
  }
  li{
    margin-left: 25px;
  }

</style>