<!DOCTYPE html>
<html>
  <head>
    <title>スマホホーム</title>
    <%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" %>
    <%= render "layouts/rails_default" %>
  </head>

  <body>
    <div id="modal-window" class="modal hide fade" role="dialog"
      aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
        </div>
      </div>
    </div>
    
    <%= render "layouts/header" %>
    <div class="container-fluid">
      <div id="flash">
      <% flash.each do |message_type, message| %>
        <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
      <% end %>
      </div>
      <%= yield %>
    </div>
    </div>
    <%= render "layouts/footer" %>
  </body>
</html>

<script>
  $('document').ready(function() {
  setTimeout(function() {
    $('#flash').slideUp();
  }, 3000);
});
</script>

<script>
  $(document).on('ready page:load', function () {
    $('#review_product_ids').chosen({
      allow_single_deselect: true,
      width: '100%'
    })
  });
</script>
