<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8"> 
  <meta name="viewport" content="width=device-width, initial-scale=1">  
  <meta name="author" content="sumit kumar"> 
  <title>スマホホーム</title>
  <%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" %>
  <%= render "layouts/rails_default" %>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

</head>

<body style="padding-top: 0px !important;">
 <!--  <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
      </div>
    </div>
  </div> -->

  <%= render "layouts/header" %>
  
    <div id="flash">
      <% flash.each do |message_type, message| %>
      <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
      <% end %>
    </div>
  <%= yield %>
  <%= render "layouts/footer" %>

  <script>
  $('document').ready(function () {
    setTimeout(function () {
      $('#flash').slideUp();
    }, 3000);
  });
</script>

<script>
  $(document).on('ready page:load', function () {
    $('#review_product_ids').chosen({
      allow_single_deselect: true,
      width: '100%'
    })
  });
</script>

</body>

</html>